body { 
    font-family: Arial; 
    background:#9fd9ff; 
    padding:20px; 
}

.container { 
    max-width:700px; 
    margin:auto; 
    background:#658fac; 
    padding:20px; 
    border-radius:10px; 
}

.product, .cart-item { 
    display:flex; 
    justify-content:space-between; 
    margin:10px 0; 
    padding:10px; 
    background:#d0ebfd; 
    border-radius:5px; 
}

button { 
    cursor:pointer; 
}

h2 { 
    margin-top:30px; 
}